# IDE config (both correct and common-typo)
.vscode/
.vsocde/

.venv/

# Compiled object files
*.o

# Assignment file
assignment.txt

# executable files
edusat.exe
edusat.out
edusat
edusat_baseline

# libs exe files
libs/cnffuzzdd2013/cnfuzz